<h1> 주문 목록 </h1>

<table class="table">
  <tr>
    <th> 날짜 </th>
    <th> 가격 </th>
    <th> 상태 </th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td> <%= order.created_at %> </td>
      <td> <%= order.price %> </td>
      <td> <%= order.status %> </td>
    </tr>
  <% end %>

</table>