<div class="jumbotron">
  <div class="container">
    <h1> 이용해주셔서 감사합니다. </h1>
    <p>
      <a class="btn btn-primary btn-lg" href="<%= root_path %>" role="button"> 메인 화면 돌아가기 </a>
    </p>
  </div>

</div>